header {
    position: relative;
    height: 100px !important;
    min-height: 100px !important;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.head{
    font-size:3em;
    font-weight: bold;
    color:peru;
}
.upload{
    text-align: center;
    font-size:20px;
    font-weight: 800;
}
.form{
    margin:4% 0;
}
#multi{
    margin-top:0px;
}
.detail{
    margin-left:50px;
}
span{
    font-size: 18px !important;
    font-weight: 300 !important;
    font-style: italic;
}
.heading::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}
.col-md-9{
    margin-top: 20px;
}